body {
  margin-left: auto;
  align-content: center;

}

nav{
  align-items: baseline;
}

legend {
  text-align: center;
}

form {
  padding: 20px;
  align-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

fieldset {
  width: 250px;
}

.jumbotron {
  text-align: center;
  position: relative;
  top: 400px;
}

button {
  margin-left: 20px;
}
